/* CARD BOTTOM */
.cardBottom {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -0.5rem;
    width: 70%;
}

/* PROGRESS BAR */
.progressContainer {
    background: #000000;
    border-radius: 10px;
    overflow: hidden;
    height: 2rem;
    margin: 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.progressBar {
    height: 100%;
    background: #1abc9c;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PROGRESS TEXT */
.progressText {
    position: absolute;
    width: 100%;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* CATEGORIES CONTAINER */
.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 1rem;
}

/* CATEGORY TAGS */
.categoryTag {
    color: white;
    border-radius: 1rem;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    
}



.titleContainer {
    border: solid 2px black;
}

.title {
    color: blue;
}

.pageContent {
    border-width: 2px;
    border: solid 2px blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftBar {
    border-width: 2px;
    border: solid 2px blue;
    flex-grow: 1;

}

.centralBar {
    border-width: 2px;
    border: solid 2px blue;
    flex-grow: 4;
}

.rightBar {
    border-width: 2px;
    border: solid 2px blue;
    flex-grow: 1;
}


.creatorContainer {
    border-width: 2px;
    border: solid 2px red;
}

.creatorUp {
    border-width: 2px;
    border: solid 2px green;
}

.creatorBottom {
    border-width: 2px;
    border: solid 2px green;
}